$mainColor: #2d8cf0;
$mainBgColor: #f5f7f9;
$tipsColor: #515a6e;
$baseWhite: #fff;
$baseBorder: #ccc;
// $paleblack:#515a6e;
$paleblack: #8f9aa5;
$baseBgColor: #f2f2f2;
$menuColor: #09233e;
$redFont: #d9001b; //标红字体
$formColor: #515a6e; //表单字体颜色
$littleFontColor: #666;
$littleFontLightColor: #999;
$littleFontBrightColor: #333;
